
/* Responsividade para telas com largura máxima de 380px */
@media (max-width: 380px) {
    .header h1 {
        font-size: 1.2em;
    }

    .header p {
        font-size: 0.9em;
    }

    .nav {
        display: flex;
        flex-direction: row;
        font-size: 0.8em;
        padding: 5px;
    }

    .nav a {
        margin: 5px 0;
    }

    div.main {
        padding: 10px;
        margin: 0;
    }

    div.infologic, 
    div.engrenagens,
    div.consultoria,
    div.identidadevisual,
    div.clothes,
    div.shoes,
    div.fretegratis {
        flex-direction: column;
        text-align: center;
    }

    div.infologic p,
    div.engrenagens p,
    div.consultoria p,
    div.identidadevisual p,
    div.clothes p,
    div.shoes p,
    div.fretegratis p {
        margin-top: 1rem;
        font-size: 0.9em;
    }

    button {
        padding: 10px;
        font-size: 0.9em;
    }
}